.container {
    display: flex;
    justify-content: space-around;
}

.box1, .box2, .box3, .box4 {
    border: 3px solid black;
    width: 200px;
    height: 700px;
}

.box1 {
    background-color: yellow;
}

.box2 {
    background-color: red;
}

.box3 {
    background-color: green;
}

.box4 {
    background-color: rgb(79, 79, 255);
}
.gambar {
    margin-top: 200px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.gambar img {
    width: 400px;
    height: auto;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 20px;
}
